<div id="bar">
	<div class = "postsCount"><%=postsCount[0]%></div>
	<div class = "countDescr">
		<%if(postsCount[0]>9 && postsCount[0]<21 || (postsCount[0]%100>9 && postsCount[0]%100<21) || (postsCount[0]%10>4 && postsCount[0]%10<=9)){%>
			ПОСТОВ
		<%}else{%>
			<%if(postsCount[0]==1 || (postsCount[0]>20 && postsCount[0]%10==1 && postsCount[0]%11!=0)){%>
				ПОСТ
			<%}else{%>
				<%if(postsCount[0]>1 && postsCount[0]<5 || (postsCount[0]>21 && postsCount[0]%10>1 && postsCount[0]%10<5)){%>
					ПОСТА
				<%}else{%>
					ПОСТОВ
				<%}
			}
		}%>
	</div>
	<div class = "archiveCount"><%=postsCount[1]%></div>
	<div class = "countDescr">В АРХИВЕ</div>
	<%if(tag && tag[0]=="tag"){%>
		<div class = "tagCount"><%=postsCount[2]%></div>
		<div class = "countDescr">В КОЛЛЕКЦИИ</div>
	<%}%>
</div>
<div id="filter"></div>
<%if(isTherePosts){%>
	<%for(var i=posts.length-1; i>=0; i--) { %>
		<article>
			<%if(category == "archive"){%>
				<div class="backPost" 
				 	onclick = "backPost(
										this, 
										'<%=posts[i].ownerId%>', 
										'<%=posts[i].postId%>', 
										'<%=user.id%>'
										)">

				</div>
			<%}%>
			<%
				if(userInfo.tags && userInfo.tags[0].name && category == "posts"){%>
				<div class="addTag" onclick = "addTag(this,'<%=posts[i].ownerId%>','<%=posts[i].postId%>','<%=JSON.stringify(posts[i].tags)%>','<%=JSON.stringify(userInfo.tags)%>','addTag<%=i%>')"></div>
			<%
				}
			%>
			<div class="deletePost" 
				 onclick = "deletePost(this,'<%=posts[i].ownerId%>','<%=posts[i].postId%>','<%=user.id%>')"></div>
			
			<div class = "avatar">
				<a href="<%=decodeURI(posts[i].owner)%>" target = "_blank">
					<img src="<%=posts[i].avatar%>">
				</a>
			</div>

			<div class = "post">
				<div class="postAuthor">
					<a href="<%=posts[i].owner%>" target = "_blank">
						<%=posts[i].author%>
					</a>
				</div>

				<div class="postText" id = "post_<%=i%>">
						<%for(var k=0; k<posts[i].text.length; k++){%>
							<%=posts[i].text[k]%>
						<%}%>
				</div>
				<script>
						var text = $("#post_<%=i%>").text().toString();
						$("#post_<%=i%>").html(text);
				</script>
				<br/>
				<%if(posts[i].typeCol[0]>0){%>
					<div class="postImgs">
						<%for(var j=0; j<posts[i].typeCol[0]; j++){%>
								<div class="postImg<%=i%>" id = "postImg<%=i%><%=j%>" style = "background-image: url(<%=posts[i].photo[j][1]%>)"></div>
						<%}%>
							<img src = "<%=posts[i].photo[0][1]%>" class = "hiddenImg" id = "hiddenImg<%=i%>">
							<script>
								photosPlacer("",<%=posts[i].photo[0][3]%>,<%=posts[i].photo[0][4]%>,<%=i%>,
								<%=posts[i].typeCol[0]%>);
							</script>
					</div>
				<%}%>
				<%if(posts[i].typeCol[2]>0){%>
					<div class="postVideos">
						<%for(var j=0; j<posts[i].typeCol[2]; j++){%>
							<a target = "_blank" href="http://vk.com/wall<%=posts[i].ownerId%>_<%=posts[i].postId%>">
								<div class="videoCase VpostImg<%=i%>" id = "VpostImg<%=i%><%=j%>" style = "background-image: url(<%=posts[i].video[j][0]%>)">
									<div class = "video_dur">
										<div class="videoIco"></div>
										<div class="videoDurLen"><%=posts[i].video[j][2]%></div>
									</div>
								</div>
							</a>
						<%}%>
							<img src = "<%=posts[i].video[0][0] %>" class = "hiddenImg" id = "hiddenImg<%=i%>">
							<script>
								photosPlacer("V",640,480,<%=i%>, <%=posts[i].typeCol[2]%>);
							</script>
					</div>
				<%}%>
				<%if(posts[i].typeCol[1]>0){%>
					<div class = "postAudio">
						<%for(var j=0; j<posts[i].typeCol[1]; j++){%>
							<div class="audio audio<%=i%>" id="audio<%=i%><%=j%>">
								<audio src="<%=posts[i].audio[j][2]%>" class="audioPlayer" id="audioPlayer<%=i%><%=j%>" preload = "metadata"></audio>
								<div class="audioTopline" onclick = "audioController('<%=i%><%=j%>','<%=i%>','<%=j%>');">
									<div class="audioController" id="audioController<%=i%><%=j%>"></div>
									<span class="audioSinger" id="audioSinger<%=i%><%=j%>"><%=posts[i].audio[j][0]%></span>
									–
									<span class="audioTitle" id="audioTitle<%=i%><%=j%>"><%=posts[i].audio[j][1]%></span>
								</div>
								<div class="audioInfo">
									<div class="audioDurationInfo" id = "audioDurationInfo<%=i%><%=j%>"><%=posts[i].audio[j][3]%></div>
									<div class="audioDownload"><a href="<%=posts[i].audio[j][2]%>" target="_blank" class = "audioDownloadLink"></a></div>
								</div>
								<div class="audioBottomline">
									<div class="audioDurationLine">
										<input type="range" value = "0" onmousedown="clearAnimateRange()" onmouseup="movedRange('<%=i%><%=j%>','<%=i%>','<%=j%>')" class="audioDuration" id="audioDuration<%=i%><%=j%>">
										<div class="audioDurationNow" id="audioDurationNow<%=i%><%=j%>"></div>
									</div>
									<div class="audioVolumeLine">
										<input type="range" value = "100" min = "0" max = "100" class="audioVolume" id="audioVolume<%=i%><%=j%>" onmousemove="changeVolume('<%=i%><%=j%>')">
										<div class="audioVolumeNow" id="audioVolumeNow<%=i%><%=j%>"></div>
									</div>
								</div>
							</div>
						<%}%>
					</div>
				<%}%>
				<%if(posts[i].typeCol[4]>0){%>
					<div class="docs">
						<%for(var j=0; j<posts[i].typeCol[4]; j++){%>
							<a href="<%=posts[i].docs[j][0]%>" target = "_blank">
								<%if(posts[i].docs[j][4].toLowerCase() == "png" || posts[i].docs[j][4].toLowerCase() == "jpg" || posts[i].docs[j][4].toLowerCase() == "ico" || posts[i].docs[j][4].toLowerCase() == "jpeg" || posts[i].docs[j][4].toLowerCase() == "bmp" || posts[i].docs[j][4].toLowerCase() == "gif"){%>	
									<div class = "doc" style = "background-image: url(<%=posts[i].docs[j][2]%>);">
										<div class="docInfo">
											<div class="docName"><%=posts[i].docs[j][3].replace(new RegExp("."+posts[i].docs[j][4],'g'), "")%></div>
											<div class="docExt">.<%=posts[i].docs[j][4]%></div>
											<div class="docSize"><%=posts[i].docs[j][1]%></div>
										</div>
									</div>
								<%}else{%>
									<div class = "file">
										<div class="fileIco"></div>
										<div class="fileDescr">Файл</div>
										<div class="fileName"><%=posts[i].docs[j][3]%></div>
									</div>
								<%}%>
							</a>
						<%}%>
					</div>
				<%}%>
				<%if(posts[i].typeCol[5]>0){%>
					<div class="album">
						<%for(var j=0; j<posts[i].typeCol[5]; j++){%>
							<a target="_blank" href="http://vk.com/album<%=posts[i].album[j][6]%>_<%=posts[i].album[j][5]%>">
								<div class = "albumImg" style = "background-image: url(<%=posts[i].album[j][0]%>); width: 430px; height: <%=(430/(posts[i].album[j][1]/posts[i].album[j][2]))%>px;">
									<div class="albumDescr">
										<div class="albumTitle"><%=posts[i].album[j][3]%></div>
										<div class="albumSize"><%=posts[i].album[j][4]%></div>
									</div>
								</div>
							</a>
						<%}%>
					</div>
				<%}%>
				<%if(posts[i].typeCol[3]>0){%>
					<div class="links">
						<%for(var j=0; j<posts[i].typeCol[3]; j++){%>
							<a href="<%=posts[i].links[j][0]%>" target = "_blank">
								<%if(posts[i].links[j][3]!=undefined){%>
									<div class="linkImg" style = "background: #fff url(<%=posts[i].links[j][3]%>)">
										<div class="linkShm"><%=posts[i].links[j][0].replace("http://", "").replace("www.", "")%></div>
									</div>
								<%}else{%>
									<div class="linkJustImg"></div>
									<div class="linkJustTxt">Ссылка </div>
									<div class="linkJust"><%=posts[i].links[j][0].replace("http://", "").replace("www.", "").replace("https://", "").replace(/\/.+/g, "")%></div>
								<%}%>
							</a>
							<%if(posts[i].links[j][3]!=undefined){%>
								<div class="linkTxt">
									<a href="<%=posts[i].links[j][0]%>" target = "_blank">
										<div class="linkTitle"><%=posts[i].links[j][1]%></div>
									</a>
									<div class="linkDescr"><%=posts[i].links[j][2]%></div>
								</div>
							<%}%>
						<%}%>
					</div>
				<%}%>
			</div>
			<div class="postInfo">
				<div class="date">
					<%if(posts[i].date!=undefined){%>
						<%=posts[i].date.date%> <%=posts[i].date.time%>
					<%}%>
				</div>
			</div>
		</article>
	<%}%>
<%}%>