<!--<div id = "footerMenu">
	<a href="">о сайте</a>
	<a href="">помощь</a>
	<a href="">правила</a>
	<a href="">реклама</a>
	<a href="">разработчикам</a>
	<a href="">вакансии</a>
</div>-->
<div id = "Company">
	VLike © 2015
</div>
<div id = "Developer">
	<a href="http://vk.com/rganeyev" target = '_blank'>ItClub team</a>
</div>