<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		<%
			if(category == "posts" && tag[0]!="tag"){
		%>
			Последние закладки
		<%
			}
			else{
				if(category == "posts" && tag[0]=="tag"){
		%>
					<%for(var u=0; u<userInfo.tags.length; u++){%>
						<%if(userInfo.tags[u].href==tag[1]){%>
							<%=userInfo.tags[u].name%>
						<%break;}%>
					<%}%>
			<%
				}
				else{
			%>
					Архив
			<%
					}
				}
			%>
	 | <%=user.name %> <%=user.lastname%></title>
	<link rel="stylesheet" href="Vk/stylesheets/main.css">
	<link rel="stylesheet" href="Vk/stylesheets/audio.css">
	<script src="Vk/js/jquery.js"></script>
	<script src="Vk/js/prefixfree.js"></script>
	<script src="Vk/js/main.js"></script>
	<script src="Vk/js/audio.js"></script>
</head>
<body>
	<%- partial("page")%>
</body>
</html>