<ul>
	<li><a href="/lastPosts">Мои Закладки</a></li>
	<li><a href="/archive">Мой Архив</a></li>
	<%
		if(userInfo.tags && userInfo.tags[0].name && userInfo.tags[0].visible == true){
			for(var i=0; i<userInfo.tags.length; i++){
	%>
				<li><a href="<%=userInfo.tags[i].href%>"><%=userInfo.tags[i].name%></a></li>
	<%
			}
		}
	%>
	<li id = "upon"><div><span onclick = "$('#newTag').focus()" style = "cursor: pointer">+</span><input onblur = "makeNewTag(this.value, this)" type="text" id = "newTag" class = "newTag"></div></li>
</ul>