<div id="go_top" onclick = "scroll($(window).scrollTop())">
	<div id="go_top_button">
		<div id = "go_top_img"></div>
		<div id = "go_top_text">Наверх</div>
	</div>
</div>
<div id="page_layout">
	<div id="page_header">
		<%- partial("top")%>
	</div>
	<aside>
		<%- partial("left")%>
	</aside>
	<div id = "content">
		<%- partial("content")%>
	</div>
	<footer>
		<%- partial("footer")%>
	</footer>
</div>
<div id = "tagTable"></div>