<div id = "userAvatar" style = "background-image: url(<%=user.photo%>);"></div>
<div id = "userName"><%=user.name%> <%=user.lastname%></div>
<nav id = "topNav">
	<div><a href="http://vk.com/vaska_land" target = "_blank">мяу</a></div>
	<div><a href="http://vk.com/laikaboss" target = "_blank">мяу</a></div>
	<div><a href="/exit">выйти</a></div>
</nav>