<html lang="en"><head>
    <meta charset="utf-8">
    <meta id="pushbullet-extension" name="extension" content="">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/chlffgpmiacpedhhbkiomidkjlcfhogd">
    <title>Pushbullet - Your devices working better together</title>
    <link href="st.css" rel="stylesheet">
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script src="/js/pushbullet.js"></script><style type="text/css"></style>
  
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-35571910-1']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script type="text/javascript">
window.production = true;
</script>

</head>
  <body>
     <div id="onecup"><div id="sink" onclick="window._handler[0].apply(null, arguments);">
     <div id="fake-header"></div><div id="landing-page" class="fadein" style="background-color:#ecf0f0"><div class="inner" style="padding:1px 20px 30px 20px;background:white;box-shadow:0 0 8px rgba(0,0,0,.06),0 4px 16px rgba(0,0,0,.12)"><div class="header" style="position:relative;height:430px">
     <img class="bigimage" src="images/vk.jpg" height="340" style="position:absolute;top:50px;left:100px">
     <div class="header-side" style="position:absolute;top:10px;right:34px;width:320px">
        <h1 style="margin-top:60px;margin-bottom:60px;font-weight:normal;text-align:center;color:#232a2a">Сохраняйте нужные посты и читайте в любое время
            <button class="btn facebook-button" style="position:absolute;top:240px;right:20px" onclick="">
                <img class="store" src="images/button_vk.png" align="left" height="47px" alt="Войти через VK">
                <a href="https://oauth.vk.com/authorize?client_id=<%=vkApiId%>&scope=wall&redirect_uri=<%=redirect%>/vkAuth&response_type=code&v=5.28" style="color: #fff;background-image: none;background-color: #4c75a3;padding: 10px 6px 15px 9px;border-bottom: inherit;font-family: FontAwesome;font-size: 20px;line-height: 42px;">Войти через Вконтакте</a>
            </button>
        </h1>
    </div></div>

    <div class="apps" style="overflow:hidden;margin-bottom:70px">
    
    <a class="app-icon" href="https://chrome.google.com/webstore/detail/vlike/nbgncbedgbhpknmakcfcjpddjnfogodh" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/vlike/nbgncbedgbhpknmakcfcjpddjnfogodh', function(){console.log('good')})" target="_blank" style="display:block;float:left;padding:20px 0px;margin:0px -3px;height:160px;width:120px;font-size:18px;color:#232a2a;text-decoration:none;text-align:center"><img class="image" src="images/app-chrome.png" height="80px" width="80px" style="margin:0px 20px 10px 20px">Chrome</a>
    </div><div class="area" style="position:relative;height:260px;margin:40px"><img src="/img/landingpage/illustration_mirror.png" width="420px" height="250px" style="float:right"><div style="position:absolute;top:20px;right:0px;width:340px;left:0px"><h2 style="font-weight:normal">Never miss a call or text again while working at your computer.</h2><p style="margin-top:10px;font-size:17px;line-height:24px;color:#95a5a6">See all of your phone's notifications on your computer. You can see WhatsApp messages, texts, phone calls, and more.</p></div></div><div class="area" style="position:relative;height:260px;margin:40px"><img src="/img/landingpage/illustration_files.png" width="420px" height="250px"><div style="position:absolute;top:20px;right:0px;width:340px"><h2 style="font-weight:normal">Send files from your computer to your phone with a click.</h2><p style="margin-top:10px;font-size:17px;line-height:24px;color:#95a5a6">Getting pictures from your computer onto your phone has never been easier. Files download automatically and open from the notification.</p></div></div><div class="area" style="position:relative;height:260px;margin:40px"><img src="/img/landingpage/illustration_links.png" width="420px" height="250px" style="float:right"><div style="position:absolute;top:20px;right:0px;width:340px;left:0px"><h2 style="font-weight:normal">Instantly send a link from your computer to your phone</h2><p style="margin-top:10px;font-size:17px;line-height:24px;color:#95a5a6">Links can be opened or shared right from your notifications. Never go through the hassle of emailing a link to yourself again.</p></div></div><div style="position:relative;height:90px"><a href="http://www.wired.com/2014/07/pushbullet-notifications/" style="position:absolute;top:0px;left:20px"><img src="/img/famous/wired.png" width="150" heigth="70"></a><a href="http://www.androidpolice.com/2014/10/28/pushbullet-gets-a-huge-update-with-material-inspired-makeover-new-filtering-options-and-more/" style="position:absolute;top:0px;left:224px"><img src="/img/famous/androidpolice.png" width="80" heigth="70"></a><a href="http://gizmodo.com/pushbullet-is-a-fantastic-app-every-phone-should-have-1681813257" style="position:absolute;top:0px;left:327px"><img src="/img/famous/gizmodo.png" width="170" heigth="70"></a><a href="http://techcrunch.com/2015/01/27/pushbullet-can-now-send-ios-notifications-to-your-mac-raises-1-5m/" style="position:absolute;top:0px;left:521px"><img src="/img/famous/techCrunch.png" width="110" heigth="70"></a><a href="http://www.cbsnews.com/news/pushbullet-makes-your-pc-an-extension-of-your-smartphone/" style="position:absolute;top:0px;left:659px"><img src="/img/famous/cbs.png" width="130" heigth="70"></a><a href="http://www.macrumors.com/2015/01/28/pushbullet-ios-mac-safari-review/" style="position:absolute;top:0px;left:819px"><img src="/img/famous/macrumors.png" width="74" heigth="70"></a></div></div></div><div id="header"><div class="inner"><div class="middle"><a class="logo" href="/"><img src="/img/header/logo.png" height="58px" width="306px"></a><div class="navigation"><a class="nav-button" href="/apps">APPS</a><a class="nav-button" href="/channels">CHANNELS</a><a class="nav-button" href="https://blog.pushbullet.com">BLOG</a><a class="nav-button" href="https://docs.pushbullet.com">API</a><a class="nav-button" href="/get-started">GET STARTED</a></div><button id="sign-in-btn" class="btn btn-inverse" onclick="window._handler[3].apply(null, arguments);">Sign In</button></div></div></div><div id="footer" style="height:140px;background-color:#ecf0f0"><div class="inner" style="position:relative;margin:0px auto;width:960px;height:140px;color:#95a5a6"><div style="position:absolute;top:52px;left:2px;font-size:20px">GET IT FOR:</div><div style="position:absolute;top:35px;left:125px"><a href="https://play.google.com/store/apps/details?id=com.pushbullet.android"><img src="/img/footer/android.png" height="60px" width="60px"></a><a href="https://itunes.apple.com/us/app/pushbullet/id810352052?ls=1&amp;mt=8"><img src="/img/footer/iphone.png" height="60px" width="60px"></a></div><div style="position:absolute;top:40px;left:325px"><div><a class="link" href="/about" style="color:#95a5a6;font-size:16px">About us</a></div><div><a class="link" href="/get-started" style="color:#95a5a6;font-size:16px">Get Started</a></div><div><a class="link" href="https://help.pushbullet.com/" style="color:#95a5a6;font-size:16px">Help &amp; FAQ</a></div></div><div style="position:absolute;top:40px;left:476px"><div><a class="link" href="https://docs.pushbullet.com/" style="color:#95a5a6;font-size:16px">API</a></div><div><a class="link" href="/press" style="color:#95a5a6;font-size:16px">Press</a></div><div><a class="link" href="/security" style="color:#95a5a6;font-size:16px">Security</a></div></div><div style="position:absolute;top:40px;left:580px"><div><a class="link" href="/privacy" style="color:#95a5a6;font-size:16px">Privacy Policy</a></div><div><a class="link" href="/tos" style="color:#95a5a6;font-size:16px">Terms of Service</a></div></div><div style="position:absolute;top:40px;right:0px"><div class="social"><a class="google-plus" href="https://plus.google.com/108578805501197929869" rel="publisher"><span class="icon-stack"> <i class="icon-circle icon-stack-base"></i>  <i class="icon-google-plus icon-light"></i> </span></a><a class="twitter" href="https://twitter.com/pushbullet"><span class="icon-stack"> <i class="icon-circle icon-stack-base"></i>  <i class="icon-twitter icon-light"></i> </span></a><a class="facebook" href="https://www.facebook.com/pages/PushBullet/235561209928697"><span class="icon-stack"> <i class="icon-circle icon-stack-base"></i>  <i class="icon-facebook icon-light"></i> </span></a></div></div></div></div><div class="support-fab"><a href="https://help.pushbullet.com"><div class="text">Get help</div><div class="q">?</div></a></div></div></div>
  


</body></html>