#header{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 91px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	background-color: #4ab367;
}

body{
	background-color: #cbd0d3;
}

#content{
	width: 960px;
	height: 100%;
}

.logo{
	color: white;
	font-size: 50px;
	margin-left: 20px;
}

.inner{
	box-sizing: border-box;
	position: relative;
	width: 960px;
	margin: 0px auto;
}

.middle{
	position: relative;
	top: 15px;
	left: 0px;
}