*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #edf2f6;
	overflow: hidden;
}
#page{
	position: relative;
	width: 100%;
	height: 100%;
}
#userPhoto{
	width: 70px;
	height: 70px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px;
	border-radius: 50%;
	border: 3px solid #edf2f6;
	display: inline-block;
	position: relative;
	z-index: 5;
}
#userName{
	vertical-align: top;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	line-height: 70px;
	color: #fff;
	margin-left: -35px;
	padding: 0 10px 0 45px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	-webkit-transition: all .2s ease-in-out;
	&:hover{
		background: rgba(80, 116, 154, 0.9);
		z-index: 1;
	}
}
#exit{
	vertical-align: top;
	float: right;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	line-height: 70px;
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
}
#exit:hover{
	background: rgba(80, 116, 154, 0.9);
}
#top{
	width: 100%;
	height: 70px;
	top: 0;
	box-sizing: content-box;
	background:  #567ca4;
	border-bottom: 5px solid rgba(255, 255, 255, 0.65);
	position: fixed;
	z-index: 10;
	#cont{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		height: 70px;
		position: relative;
	}
}

#posts{
	margin: 50px;
	margin-top: 120px;
	.post{
		position: relative;
		width: 30%;
		height: 250px;
		overflow: hidden;
		font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
		font-size: 13px;
		line-height: 20px;
		color: #6C6C6C;
		background: #fff;
		display: inline-block;
		opacity: .9;
		border: 1px solid rgba(0,0,0,.1);
		vertical-align: top;
		margin-bottom: 5px;
		text-align: left;
		&:hover{
			opacity: 1;
		}
		&:nth-child(n+4){
			margin-top: 30px;
		}
		&:nth-child(3n+1){
			margin-right: 3%;
		}
		&:nth-child(3n){
			margin-left: 3%;
		}
		img{
			width: 330px;
		}
		.postContent{
			margin: 10px;
		}
	}
}
