.audio{
	width: 500px;
	height: 28px;
	margin-bottom: 16px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.audio:hover{
	background-color: #edf1f5;
}
.audio *{
	font-size: 12px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.audioTopline{
	width: 400px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.audioController{
	background-image: url(playpause.gif);
	background-repeat: no-repeat;
	background-position: top;
	width: 16px;
	height: 16px;
	margin: 6px;
	display: inline-block;
	vertical-align: top;
}
.audioSinger{
	color: #2B587A;
	font-weight: bold;
	vertical-align: top;
}
.audioDurationLine{
	display: inline-block;
	width: 400px;
	margin-left: 6px;
	height: 4px;
	background-color: #bac7d4;
	margin-top: 4px;
	position: relative;
	border-radius: 5px;
	vertical-align: top;
}
.audioVolumeLine{
	display: inline-block;
	width: 70px;
	margin-left: 6px;
	height: 4px;
	background-color: #bac7d4;
	margin-top: 4px;
	position: relative;
	border-radius: 5px;
}
.audioDurationNow{
	width: 0%;
	height: 4px;
	background: #5F7E9E;
	position: absolute;
	border-radius: 5px;
	top: 0px;
}
.audioVolumeNow{
	width: 100%;
	height: 4px;
	background: #5F7E9E;
	position: absolute;
	border-radius: 5px;
	top: 0px;
	z-index: 10;
}
.audioDuration{
	width: 400px;
	top: -5px;
	position: relative;
}
.audioVolume{
	width: 70px;
	top: -5px;
	position: relative;
}
.audioInfo{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 50px;
	height: 28px;
	margin-right: 5px;
}
.audioDurationInfo{
	display: inline-block;
	margin-top: 7px;
	color: #777;
	font-size: 0.9em;
}
.audioDownload{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/download.svg) no-repeat;
	background-size: 16px;
	fill: #edf1f5;
	margin: 6px;
	float: right;
}
.audioDownloadLink{
	display: block;
	width: 100%;
	height: 100%;
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: transparent;/*#bac7d4*/
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 15;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    /*background: #5F7E9E;*/
    background: transparent;
    cursor: pointer;
    top: 1px;
    position: relative;
    z-index: 15;
}

input[type=range]:focus {
    outline: none;
}