*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 11px;
}
a{
	color: #2B587A;
	text-decoration: none;
}
body{
}
#tagTable{
	overflow: auto;
}
#tagsList li{
	list-style-type: none;
	line-height: 20px;
	padding-left: 10px;
	cursor: pointer;
	color: #2B587A;
}
#tagsList li .tagName{
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
}
#tagsList li .tagImg{
	width: 10px;
	height: 10px;
	margin-top: 5px;
	display: inline-block;
	float: right;
	margin-right: 7px;
	vertical-align: top;
}
#tagsList .tagUsed .tagImg{
	background: url("../images/profile_icons.gif") 0px -56px no-repeat;
	background-size: 10px;
}
#tagsList li:hover{
	background: #E1E7ED;
}
#tagTable{
	width: 170px;
	max-height: 300px;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	z-index: 10;
}
#userAvatar{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-size: 36px;
	margin-top: 2px;
	display: inline-block;
	margin-left: 10px;
	-webkit-filter: Brightness(1.2);
}
#userName{
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	font-weight: bold;
	font-size: 11px;
	color: #E8EFF7;
	text-shadow: 0px 1px 0px #4e7097;
}
#go_top{
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
#go_top_button{
	width: 100px;
	height: 100%;
	position: fixed;
	transition: all .2s ease-in-out;
	z-index: 1;
}
#go_top:hover #go_top_button{
	background: #E1E7ED;
}
#go_top_button #go_top_img{
	height: 14px;
	width: 15px;
	background: url(../images/toplink.gif?3) no-repeat left 3px;
	display: inline-block;
	margin-left: 14px;
	margin-top: 12px;
	vertical-align: top;
}
#go_top_button #go_top_text{
	height: 14px;
	display: inline-block;
	margin-left: 2px;
	margin-top: 13px;
	font-weight: bold;
	color: #45688E;
	vertical-align: top;
}
#go_top:hover #go_top_button:after{
	opacity: 1;
}
#page_layout{
	width: 791px;
	position: relative;
	margin: 0 auto;
}
#page_header{
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0;
	border-radius: 0 0 8px 8px;
	background: #4e729a;
	overflow: hidden;
	padding-right: 9px;
}
#topNav{
	float: right;
}
#topNav>div{
	display: inline-block;
	cursor: pointer;
}
#topNav>div:hover{
	background: rgba(0, 31, 64, 0.17);
}
#topNav>div>a{
	display: block;
	padding: 12px 10px 28px;
	height: 13px;
	margin: 0px;
	font-weight: bold;
	font-size: 11px;
	color: #E8EFF7;
	text-shadow: 0px 1px 0px #4e7097;
}
#topNav>div:hover>a{
	color: #fff;
}
#topNav>div>a:active{
	position: relative;
	top: 1px;
}
aside{
	padding-top: 5px;
	padding-left: 4px;
	width: 140px;
	margin-top: 40px;
	float: left;
}
aside ul{
	list-style-type: none;
}
aside>ul>li{
	line-height: 21px;
	padding-left: 6px;
}
aside>ul>li:hover{
	background: #E1E7ED;
	border-radius: 2px;
}
aside a{
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: #2B587A;
	font-size: 11px;
	display: block;
}
#content{
	width: 630px;
	position: relative;
	margin-left: 144px;
	top: 40px;
	border: solid #D9E0E7;
	border-width: 0px 1px 1px;
	box-shadow: 0 0 1px rgba(0,0,0,.1);
}
#content #bar{
	background: #f7f7f7;
	border-bottom: solid 1px #597DA3;
	height: 60px;
}
#content #bar div{
	vertical-align: top;
}
.countDescr{
	height: 60px;
	line-height: 50px;
	display: inline-block;
	font-weight: bold;
	margin-left: 5px;
	color: rgba(78, 114, 154, 0.77);
}
.postsCount{
	height: 60px;
	line-height: 60px;
	display: inline-block;
	color: #4e729a;
	font-size: 40px;
	font-weight: bold;
	margin-left: 40px;
}
.archiveCount{
	height: 60px;
	line-height: 60px;
	display: inline-block;
	color: #4e729a;
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
}
.tagCount{
	height: 60px;
	line-height: 60px;
	display: inline-block;
	color: #4e729a;
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
}
#upon div{
	color: #2B587A;
}
.newTag{
	background: transparent;
	border: none;
	width: 100px;
	color: #2B587A;
	outline: none;
	margin-left: 5px;
}
.tagFailed{
	animation: tagFailed 1s;
}
@-webkit-keyframes tagFailed {
    from {background: rgba(255,0,0,.2);}
    to {background: #fff;}
}
#filter{
	height: 45px;
	border-bottom: 1px solid #D9E0E7;
}
article{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #D9E0E7;
}
.linked{
	width: 400px;
	height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.avatar{
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
.txtCut{
	height: 100px;
	padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.openMe{
	background: #fff;
	font-weight: bold;
	color: #91A4B8;
	cursor: pointer;
	margin-top: 7px;
	transition: color .200ms linear;
}
.openMe:hover{
	color: #45688E;
}
.closedSpan{
	display: none;
}
.post{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	width: 531px;
	padding-bottom: 10px;
}
.postAuthor{
	margin-top: 1px;
	font-weight: bold;
	line-height: 140%;
}
.postAuthor a{
	color: #2B587A;
}
.postAuthor a:hover{
	text-decoration: underline;
}
.postText{
	margin-top: 5px;
	line-height: 160%;
}
.postImgs{
	margin: 0 auto;
	display: inline-block;
}
.postImgs div{
	display: inline-block;
	margin: 3px;
}
.postVideos{
	position: relative;
	display: inline-block;
}
.postVideos div,.postImgs div{
	background-size: cover;
}
.videoCase{
	position: relative;
	display: inline-block;
}
.video_dur{
	position: absolute;
	right: 3px;
	bottom: 3px;
	width: 63px;
	height: 12px;
	line-height: 12px;
	text-align: right;
	overflow: hidden;
	color: #fff;
	vertical-align: top;
	background: rgba(0, 0, 0, 0.45);
}
.videoIco{
	background: url('../images/photo_icons.png?3') 3px -76px no-repeat;
	vertical-align: top;
	background-size: 14px;
	display: inline-block;
	width: 12px;
	height: 11px;
	float: left;
	top: -2px;
	vertical-align: top; 
}
.videoDurLen{
	display: inline-block;
	height: 12px;
	width: 50px;
	vertical-align: top; 
	top: -3px;
	text-align: center;
}
.hiddenImg{
	display: none;
}
.postAudio{
	margin-top: 5px;
}
.postInfo{
	height: 25px;
	display: block;
}
.date{
	float: left;
	color: #888;
	font-size: 10px;
	margin-left: 58px;
}
.deletePost{
	cursor: pointer;
	position: absolute;
	color: blue;
	right: 0px;
	top: 0px;
	width: 15px;
	height: 15px;
	opacity: .2;
	background: url(../images/statusx_op.gif) no-repeat;
	transition: all .2s ease-in-out;
}
.backPost{
	cursor: pointer;
	position: absolute;
	color: blue;
	right: 20px;
	top: 0px;
	width: 15px;
	height: 15px;
	opacity: .4;
	background: url(../images/mono_iconset.png) 0 -235px no-repeat;
	background-size: 12px;
	transition: all .2s ease-in-out;
}
.addTag{
	cursor: pointer;
	position: absolute;
	color: blue;
	right: 20px;
	top: 0px;
	width: 15px;
	height: 15px;
	opacity: .4;
	background: url(../images/asas.png) no-repeat;
	background-size: 12px;
	transition: all .2s ease-in-out;
	z-index: 10;
}
.addTag:hover{
	opacity: 1;
}
.deletePost:hover{
	opacity: 1;
}
.backPost:hover{
	opacity: 1;
}
.links{
	margin-top: 5px;
}
.linkJustImg{
	background: url(../images/mono_iconset.png?1) no-repeat left -237px;
	width: 15px;
	height: 11px;
	margin-top: 2px;
	display: inline-block;
	vertical-align: top;
}
.linkJustTxt{
	display: inline-block;
	vertical-align: top;
	color: #777;
	text-decoration: none;
}
.linkJust{
	display: inline-block;
	vertical-align: top;
}
.linkImg{
	vertical-align: top;
	width: 150px;
	height: 80px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.linkShm{
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 5px;
	padding-left: 10px;
	width: 70px;
	height: 13px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	background: url(../images/photo_lnk.png) left center no-repeat;
}
.doc{
	width: 130px;
	height: 100px;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	margin: 5px;
	position: relative;
}
.docInfo{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	overflow: hidden;
	background: rgba(0,0,0,.5);
	color: #fff;
}
.docName{
	text-overflow: ellipsis;
	max-width: 50px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 20px;
	margin-left: 5px;
	font-size: 8px;
	vertical-align: top;
}
.docExt{
	font-size: 8px;
	display: inline-block;
	line-height: 20px;
	height: 20px;
	margin-left: -3px;
	vertical-align: top;
}
.docSize{
	font-size: 8px;
	display: inline-block;
	line-height: 20px;
	height: 20px;
	margin-left: -3px;
	vertical-align: top;
	float: right;
	margin-right: 10px;
}
.linkTxt{
	vertical-align: top;
	margin-left: 10px;
	display: inline-block;
	width: 320px;
}
.linkTitle{
	font-weight: bold;
	color: #446790;
	line-height: 160%;
	height: 16px;
	display: block;
	width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.linkTitle:hover{
	text-decoration: underline;
}
.linkDescr{
	line-height: 140%;
	width: 300px;
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}
.file{
	display: block;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.fileIco{
	width: 10px;
	height: 17px;
	display: inline-block;
	background: #456;
	margin-top: 1px;
	background: url(../images/mono_iconset.png?1) no-repeat left -275px;
	vertical-align: top;
}
.fileDescr{
	color: #777;
	padding: 0 5px;
	display: inline-block;
	vertical-align: top;
}
.fileName{
	display: inline-block;
	vertical-align: top;

}
.albumImg{
	background-size: cover;
	position: relative;
}
.albumDescr{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding-top: 2px;
	background: rgba(0,0,0,.4);
	color: #fff;
}
.albumTitle{
	font-weight: bold;
	float: left;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.albumSize{
	background: url(../images/camera_white.png) left center no-repeat;
	vertical-align: top;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
	float: right;
	display: inline-block;
	margin-right: 10px;
	padding-left: 13px;
}
footer{
	margin-top: 45px;
	margin-left: 145px;
	width: 630px;
}
#footerMenu{
	text-align: center;
	margin-bottom: 5px;
}
#footerMenu a{
	display: inline-block;
	list-style-type: none;
	margin-left: 5px;
	padding: 2px 5px;
}
#footerMenu a:hover{
	background: rgba(0, 31, 64, 0.17);
}
#Company{
	text-align: center;
	padding: 3px;
}
#Developer{
	text-align: center;
	padding: 3px;
}