<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=user.name %> | Последние посты</title>
	<link rel="stylesheet" href="stylesheets/perfectScroll.css">
	<link rel="stylesheet/less" href="stylesheets/main.less">
	<script src="js/prefixfree.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/perfectScroll.js"></script>
	<script src="js/less.js"></script>
	<script src="js/scroll.js"></script>
</head>
<body>
<div id = "page">
	<%- partial("top")%>
	<%- partial("lastPosts")%>
</div>
<script>$('#page').perfectScrollbar();</script>
</body>
</html>