<div id="posts">
	<%if(isTherePosts){%>
		<%for(var i=posts.length-1; i>=0; i--) { %>
			<div class="post" onmouseover = "overPost(this)" onmouseout = "outPost(this)">
				<div style = "line-height: 50px">
					<img src="<%=posts[i].avatar%>" style = "width: 50px">
					<div style = "height: 50px; line-height: 50px; display: inline-block;vertical-align: top; margin-left: 5px;"><%=posts[i].author%></div>
				</div>
				<div class="postContent">
				<%if(posts[i].text){%>
					<%posts[i].text.forEach(function(el, index) {%>
							<%=el%>
							<br/>
					<%});}%>
					<br/>
					<%for(var j=0; j<posts[i].typeCol[0]; j++){%>
							<img src="<%=posts[i].photo[j][1]%>" width="100" align = "center">
					<%}%>
					<br/>
					<br/>
					<%for(var j=0; j<posts[i].typeCol[1]; j++){%>
						<audio controls>
							<source src="<%=posts[i].audio[j][2]%>" type="audio/mpeg">
						</audio>
					<%}%>
				</div>
			</div>
		<%}%>
	<%}%>
</div>

<script>$('.post').perfectScrollbar();</script>