<div id="top">
	<div id="cont">
		<div id = "userPhoto" style = "background-image: url(<%=user.photo %>)"></div>
		<div id = "userName"><%=user.name %> <%=user.lastname %></div>
		<div id = "exit" onclick = "window.location='/exit'">Выйти</div>
	</div>
</div>